body {
    background-color: #eee;
}

table {
    width: 100%;
    border-radius: 4px;
}
table, td, th {
    border: 1px solid green;
}

th, td {
    padding: 4px 4px;
    background-color: white;
}

th {
    font-style: italic;
    background-color: rgba(0,255,0,0.5);
}

tr:nth-of-type(2n) > td {
    background-color: #ddd;
}

h1 {
    text-align: center; 
    font-family: "Comic Sans MS";
    text-decoration: underline;
    color: navy;
}